<h1 class="h1-mainTitle">To-do List</h1>
<div class="page-container">
    <div class="index-container">
        <h2 class="index-header">Tasks</h2>
        <div class="wide-button-container">
            <a class="link-button-alt" href="/create?user={{user}}&list={{list}}">Create New</a>
        </div>
        <ul class="index-ul">
            {{#each todoList}}
                <li class="index-li" value={{this.id}}>
                    <label class="checkBoxContainer">
                        <button class="checkBoxButton" value="{{this.is_done}}"></button>
                        <span class="checkBox"></span>
                        <span class="check" hidden=""></span>
                    </label>
                    <span class="index-title">{{this.todo_title}}:</span>
                    <div class="index-description-shadow-container">
                        <div class="index-description">{{this.todo_description}}</div>
                    </div>
                    <div class="index-linkButton-container">
                    <a class="link-button" href="/detail?user={{@root.user}}&list={{@root.list}}&id={{this.id}}">Details</a>
                    
                    <a class="link-button" href="/edit?user={{@root.user}}&list={{@root.list}}&id={{this.id}}">Edit</a>
                    
                    <a class="link-button" href="/delete?user={{@root.user}}&list={{@root.list}}&id={{this.id}}">Delete</a>
                    </div>
                </li>
            {{/each}}
        </ul>
        <span class="wide-button-container">
        <a class="link-button-alt" href="/lists?user={{user}}">Return to Lists</a>
        </span>
    </div>
</div>
