<div class="page-container">
    <div class="index-container">
        <h2 class="index-header">Tasks</h2>
        <div class="index-createButton-container">
            <a class="link-button" href="/create">Create New</a>
        </div>
        <ul class="index-ul">
            {{#each todoList}}
                <li class="index-li" value={{this.id}}>
                    <label class="checkBoxContainer">
                        <button class="checkBoxButton" value="{{this.is_done}}"></button>
                        <span class="checkBox"></span>
                        <span class="check" hidden=""></span>
                    </label>
                    <span class="index-title">{{this.todo_title}}:</span>
                    <div class="index-description-shadow-container">
                        <div class="index-description">{{this.todo_description}}</div>
                    </div>
                    <div class="index-linkButton-container">
                    <a class="link-button" href="/detail?id={{this.id}}">Details</a>
                    <span> | </span>
                    <a class="link-button" href="/edit?id={{this.id}}">Edit</a>
                    <span> | </span>
                    <a class="link-button" href="/delete?id={{this.id}}">Delete</a>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>